/* colors */
:root{
    --blue-dark-contrast-2: #030200;
    --blue-dark-contrast: #070916;
    --grey: #959595;
    --light-grey: #f6f6f6;
    --white: #dfdfdf;
    --purple: #ff00e5;

    --font-family: 'Poppins', sans-serif;
}