.navbar {
    background-color: var(--dark);
    padding-bottom: 0;
    padding-top: 0;

    &-brand {
        color: var(--grey);
        font-size: 1.4em;
    }

    &-nav {
        margin: 0 0 0 20px;
    }

    .nav {
        &-link {
            color: var(--grey);
            height: 60px;
            padding: 18px 10px;
            text-align: center;
            width: 180px;

            &.active {
                background-color: var(--black);
                color: var(--white);
            }
        }
    }
}