<div class="container-fluid">
    <main>
        <div class="row">
            <div class="col-3">
                <div *ngIf="!movies" class="row">
                    <div class="col-12">
                        <div *ngFor="let movie of [1, 2, 3, 4 ,5]; index as i" class="card">
                            <div class="card-body">
                                <ngx-skeleton-loader count="1" [theme]="{ 
                                    height: '20px',
                                    width: '90%'
                                  }"></ngx-skeleton-loader>
                                <ngx-skeleton-loader count="1" [theme]="{ 
                                    height: '10px',
                                    width: '65%',
                                    margin: '0px'
                                  }"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="movies" class="row">
                    <div class="col-12">
                        <div *ngFor="let movie of movies; index as i" class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{movie.title}}</h5>
                                <small>Release Date: {{movie.release | dateFormat: 'DD MMMM YYYY'}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="row">
                    <div class="col-12">
                        <a class="btn btn-primary">Add new movie</a>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">Featured</div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>>
    </main>
</div>