<div class="container-fluid">
    <main>
        <div class="row">
            <div class="col-3">
                <div class="list-group">
                    <a *ngFor="let movie of movies; index as i" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1">{{movie.title}}</h5>
                        </div>
                        <small>Release Date: {{movie.release | dateFormat: 'DD MMMM YYYY'}}</small>
                    </a>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-header">Featured</div>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>>
    </main>
</div>